* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

.container {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.head {
  background-color: rgb(106, 21, 225);
  color: white;
  font-size: 30px;
  padding: 5px;
  font-weight: 600;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.captcha {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  height: 20px;
}

.input {
  width: 90%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

.allbtn {
  margin-bottom: 10px;
}

.subbtn {
  background-color: rgb(106, 21, 225);
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.refbtn {
  background-color: rgb(106, 21, 225);
  color: white;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
